<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Имя таблицы со списком событий-->
    <add key="EventTable" value="EventTable"/>

    <!--Имя таблицы со списком необходимых событий-->
    <add key="NeedEventTable" value="NeedEventTable"/>

    <!--Имя таблицы со совершенных списком событий-->
    <add key="DoneEventTable" value="DoneEventTable"/>

    <!--Имя таблицы со списком результатов-->
    <add key="ResultTable" value="ResultTable"/>
  </appSettings>
  <connectionStrings>
    <add name="MS_ACCESS" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=|DataDirectory|\\MagistrDB.accdb"/>
  </connectionStrings>
</configuration>