<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="MS ACCESS" connectionString="Provider=Microsoft.Jet.OLEDB.4.0 Data Source=D:\Вася\Власов\AutotestAnalyser\project\CSharpMagistrProject\MagistrDB.accdb"/>
  </connectionStrings>
</configuration>